@page
@model YellowBucket.Pages.Customer_Reviews.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer_Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer_Review.CustomerId" class="control-label"></label>
                <select asp-for="Customer_Review.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Review.MovieId" class="control-label"></label>
                <select asp-for="Customer_Review.MovieId" class ="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Review.Review" class="control-label"></label>
                <input asp-for="Customer_Review.Review" class="form-control" />
                <span asp-validation-for="Customer_Review.Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Review.Kernals" class="control-label"></label>
                <input asp-for="Customer_Review.Kernals" class="form-control" />
                <span asp-validation-for="Customer_Review.Kernals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Review.Created_Date" class="control-label"></label>
                <input asp-for="Customer_Review.Created_Date" class="form-control" />
                <span asp-validation-for="Customer_Review.Created_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Review.Updated_Date" class="control-label"></label>
                <input asp-for="Customer_Review.Updated_Date" class="form-control" />
                <span asp-validation-for="Customer_Review.Updated_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Review.Deleted_Date" class="control-label"></label>
                <input asp-for="Customer_Review.Deleted_Date" class="form-control" />
                <span asp-validation-for="Customer_Review.Deleted_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
