@page
@model YellowBucket.Pages.WishList.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Wishlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Wishlist.WishlistId" />
            <div class="form-group">
                <label asp-for="Wishlist.CustomerId" class="control-label"></label>
                <select asp-for="Wishlist.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="Wishlist.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wishlist.MovieId" class="control-label"></label>
                <select asp-for="Wishlist.MovieId" class="form-control" asp-items="ViewBag.MovieId"></select>
                <span asp-validation-for="Wishlist.MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wishlist.Created_Date" class="control-label"></label>
                <input asp-for="Wishlist.Created_Date" class="form-control" />
                <span asp-validation-for="Wishlist.Created_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wishlist.Updated_Date" class="control-label"></label>
                <input asp-for="Wishlist.Updated_Date" class="form-control" />
                <span asp-validation-for="Wishlist.Updated_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wishlist.Deleted_Date" class="control-label"></label>
                <input asp-for="Wishlist.Deleted_Date" class="form-control" />
                <span asp-validation-for="Wishlist.Deleted_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
