@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body{
        background-color:lemonchiffon;
    }

    h1{
        color:blue;
        font-weight:bolder;
        font-family:'Lucida Console';
        font-size:x-large;
    }

    p{
        color: deepskyblue;
        font-family:'Lucida Handwriting';
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to Yellow Bucket!</h1>
    <p>Get ready for the best movie rental service of your life!</p>
</div>
